<h2 class="product__header">
    <a href="@url" itemprop="url" title="Mais detalhes" class="product-link">
        <span class="product__image product-image">@foto(260x260)</span>
    </a>
</h2>
<div class="product__main">
	<a href="@url" title="@nome(60)" class="product__name">@nome</a>

	@if(is_disponivel)
		@preco
 		@preco(parcelado)
    @else(is_disponivel)
	    <div class="esgotado">Produto Esgotado</div>
	@endif(is_disponivel)

	@selos
</div>
<div class="product__footer">
  @bt(comprar "Comprar")
</div>

### Produtos duas

<h2 class="product__header">
    <a href="@url" itemprop="url" title="Mais detalhes" class="product-link">
        <span class="product__image product-image">@foto(390x390)</span>
    </a>
</h2>
<div class="product__main">
    <div class="products__duo">
        <div class="products__col products__col--left">
	        <a href="@url" title="@nome(60)" class="product__name">@nome</a>    
        </div>
        
        <div class="products__col products__col--right">
        @if(is_disponivel)
            @preco
            @preco(parcelado)
        @else(is_disponivel)
            <div class="esgotado">Produto Esgotado</div>
        @endif(is_disponivel)
        </div>

        @selos
    </div>
</div>