<div class="rulers">
  <svg class="ico ico-z-truck">
    <use xlink:href="#z-truck" />
  </svg>
  <span class="rulers__text">Entregamos em todo Brasil</span>
</div>

<div class="rulers">
  <svg class="ico ico-z-card">
    <use xlink:href="#z-card" />
  </svg>
  <span class="rulers__text">Parcelamos em até 10x sem juros</span>
</div>

<div class="rulers">
  <svg class="ico ico-z-star">
    <use xlink:href="#z-star" />
  </svg>
  <span class="rulers__text">Retire na Loja</span>
</div>

<div class="rulers">
  <svg class="ico ico-z-lock">
    <use xlink:href="#z-lock" />
  </svg>
  <span class="rulers__text">Compra 100% Segura</span>
</div>