<div class="instagram">
    <div class="instagram__container">
        <div class="instagram__header">
            <svg class="ico z-instagram">
                <use xlink:href="#z-instagram" />
            </svg>

            <h3 class="instagram__title"><a href="#">@AMARELINHA.DECOR</a></h3>
            <p class="instagram__text">Siga Amarelinha decor no instagram e veja nossas novidades</p>
        </div>
        <div class="instagram__main">
            <div class="instagram__list">
                <a href="#"><img src="https://fakeimg.pl/270/" /></a>
                <a href="#"><img src="https://fakeimg.pl/270/" /></a>
                <a href="#"><img src="https://fakeimg.pl/270/" /></a>
                <a href="#"><img src="https://fakeimg.pl/270/" /></a>
                <a href="#"><img src="https://fakeimg.pl/270/" /></a>
                <a href="#"><img src="https://fakeimg.pl/270/" /></a>
            </div>
        </div>
    </div>
</div>