color1_font = #FFFFFF
color1_font_hover = #FFFFFF
color1_bg = #FCD803
color1_bg_hover = #FCD803
color2_font = #FFFFFF
color2_font_hover = #FFFFFF
color2_bg = #2D2D2C
color2_bg_hover = #2D2D2C
color3_font = #FFFFFF
color3_font_hover = #FFFFFF
color3_bg = #CCCCCC
color3_bg_hover = #f7f7f7
button_font = #FFFFFF
button_font_hover = #FFFFFF
button_bg = #CA213E
button_bg_hover = #990000
// images
img-tv = '/media/interface/images/tv.png'
img-jantar = '/media/interface/images/jantar.png'
img-estar = '/media/interface/images/estar.png'
img-gourmet = '/media/interface/images/gourmet.png'
img-externa = '/media/interface/images/externa.png'
img-quartos = '/media/interface/images/quartos.png'
img-parede = '/media/interface/images/parede.png'
down = '/media/interface/images/down.png'