.footer
    &-container
        background: var(--color-footer-background)

    &__copyright
        padding: gap 0

        &, p
            font-size: 10px
            line-height: 1.5

#pagtos_footer
    padding-top: gap
    border-top: solid 1px #EEEEEE1A

    .pays
        &__title
            margin-right: 10px
            margin-bottom: 0
            color: var(--primary)
            text-transform: uppercase
            font-weight: bold
            font-size: 14px

    @media media-min-lg
        display: flex
        flex-wrap: nowrap
        align-items: center