.header
    position: relative
    z-index: 10
    margin-bottom: 0 !important
    padding: 10px 15px 10px 10px

    @media media-min-lg
        padding: 20px 0
        background: white
        transition: all .2s ease-in-out

        shadowBorder()

        .scrolling &
            padding: 5px 0

    &-container
        position: sticky
        top: 0
        margin-bottom: 72px !important
        background: none
        box-shadow: none
        transition: all .2s ease-in-out

        &.hidden
            transform: translate3d(0, -200px, 0)

        @media media-max-lg
            background: white
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1)