.mycart
    .header &
        @media media-min-lg
            margin-left: 60px

        &__content
            display: none !important

    &__header a
        position: relative
        display: block
        width: 44px
        height: 47px

        @media media-max-lg
            display: flex
            justify-content: center
            align-items: center

        .ico
            width: 28px
            height: 25px
            fill: var(--secundary)

            @media media-min-lg
                margin-top: 21px

        .text
            display: none

        .qtd
            position: absolute
            top: 0
            right: 0
            display: flex
            justify-content: center
            align-items: center
            width: 22px
            height: 22px
            border-radius: 50%
            background: var(--primary)
            color: var(--secundary)
            font-weight: medium
            font-size: 14px