.owl
    &-next, &-prev
        padding: 0
        width: 40px
        height: 40px
        border-radius: 50%
        background: none

        &:before
            display: flex
            justify-content: center
            align-items: center
            background: #E4E4E4
            box-shadow: none
            color: white
            font-size: 16px
            line-height: 1