.rulers
    display: flex
    align-items: center

    .ico
        margin-right: 5px
        width: 31px
        height: 31px
        fill: var(--primary)

    &__text
        color: #646464
        font-weight: medium
        font-size: 14px