.socials
    .top-header &
        &__svg
            width: 15px
            height: 15px

    .facebook
        .socials
            &__link
                display: flex
                justify-content: center
                align-items: flex-end
                margin-top: -2px
                width: 16px
                height: 16px
                border-radius: 3px
                background: white

            &__svg
                display: block
                margin-right: 0
                height: 13px

                path
                    fill: var(--secundary) !important