.catalog-product-view
    .main-container > .breadcrumb
        display: none

.prod
    &__img
        @media media-min-lg
            flex: 0 1 640px

    &__shop
        .configurable
            margin: 16px 0
            padding: 16px 0
            border-top: solid 1px #EEEEEE
            border-bottom: solid 1px #EEEEEE

            &:before
                display: none

            &__option
                padding-right: 0
                padding-left: 0

            &__caption
                label
                    font-weight: medium
                    font-size: 13px

    &__name
        h1
            padding: 16px 0 10px
            font-weight: bold
            font-size: 24px
            line-height: 1.3

        .sku
            color: var(--secundary)
            font-weight: regular
            font-size: 14px

.product-image-gallery
    box-shadow: none

@media media-min-lg
    .product-image-container
        display: flex

        .product-image
            flex: 1
            min-width: 0

    .more-views
        order: -1
        margin-right: 20px

    .product-image-thumbs
        display: block

        .thumb-link:not(.on)
            box-shadow: none

        li
            img
                width: 75px
                height: 75px
                object-fit: contain